.badge
  display inline-flex
  height 26px
  width auto
  padding 0 7px
  margin 0 5px
  background transparent
  border-radius 13px
  font-size 13px
  font-weight 400
  line-height 26px

  &.-fill-gradient
    background $primary-gradient
    color $white
