$primary-color = #39B982
$primary-gradient = linear-gradient(to right, #16C0B0, #84CF6A)
$white = #FFFFFF
$black = #000000
$gray = rgba(0, 0, 0, 0.4)
$gray-dark = rgba(0, 0, 0, 0.5)
$gray-light = #E5E5E5
$shadow = 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13)
$shadow-2 = 0 7px 17px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
$radius = 6px
$input-height = 52px
$indicator = url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
